---
import '../../../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
const identity = {
  firstName: "Daniel",
  country: "Mexico",
  occupation: "Software Engineer",
  hobbies: ["Recreational programming", "Chess", "League of legends"],
};
const skills = ["C", "Go", "Python"];
---

<BaseLayout pageTitle={pageTitle}>
	I am:
	<ul>
		<li>My name is: {identity.firstName}</li>
		<li>I live in: {identity.country}</li>
		<li>I work as a: {identity.occupation}</li>
	</ul>
	I'm interested in:
	<ul>
		{identity.hobbies.map((hobby) => <li>{hobby}</li>)}
	</ul>
	I work mostly with:
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>
</BaseLayout>
